@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');


body{
    background-color: #0F1145;
    font-family: "Gilroy", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    align-items: center;
    margin: 79px 170px 135px 170px;
}
.nav__logo{
    margin-right: 44px;
    transform: translateY(3px);
}
.nav__nav-items{
    display: flex;
    text-transform: uppercase;
    margin-right: auto;
}
.nav__nav-item{
    margin-right: 15px;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
    display: block;
    color: white;
    text-decoration: none;
}
.nav__nav-buttons{
    display: flex;
}
.nav__button{
    text-transform: uppercase;
    width: 112px;
    height: 36px;
    border-radius: 3px;
    border-color: #F2994A;
    color: #F2994A;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    letter-spacing: 2px;
    font-size: 12px;
    background: none;
    cursor: pointer;
}
.nav__button_filled{
    width: 112px;
    height: 36px;
    border-radius: 3px;
    background-color: #F2994A;
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: center;
    border: none;
    color: white;   
    cursor: pointer;
}
.promo{
    margin-left: 170px;
    width: auto;
    
}
.promo h1{
    font-size: 44px;
    color:#99EFD0;
    margin-bottom: 19px;
    
}
.promo h5{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
}
.promo__buttons{
    display: flex;
    margin-bottom: 60px;
}
.promo__button{
    width: 157px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2994A;
    border-radius: 3px;
    color: #F2994A;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background: none;
}
.promo__button_filled{
    text-align: center;
    border-radius: 3px;
    width: 159px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: #F2994A;
    margin-right: 20px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    border: none;
    color: white;
    
}
.promo__video{
    display: flex;
}
.promo__picture{
    margin-right: 20px;
    cursor: pointer;
}
.promo h4{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.promo h5{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.promo__text h5{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.face{
    display: flex;
    justify-content: space-between;
}
.face__background{
    width: 723px;
    height: 579px;
    background-image: url('../res/Frame.svg');
    transform: translateY(-32px) translateX(-6px) ;

}
.logo-list{
    display: flex;
    justify-content: space-around;
    margin: 0px 170px;
    opacity: 0.5;
}
.your-choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 98px;
}
.your-choice h2{
    color: #99EFD0;
    font-size: 42px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 13px;
}
.your-choice h5{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color:#8476AA;
    text-align: center;
    width: auto;
}
.your-choice__grid-of-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 50px;
}
.your-choice__grid-element{
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-column-gap: 28px;
    width: 250px;
}
.your-choice__grid-icon{
    grid-row-start: 1;
    grid-row-end: 3;
}
.your-choice__grid-header{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    color: #99EFD0;
    margin-bottom: 10px;
}
.your-choice__grid-article{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 10px;
    color:#8476AA    ;
}
.gradient-layer{
    width: 100%;
    position: absolute;
    height: 1509px;
    background: linear-gradient(200deg, #3B1D60 1.22%, #0F1145 70%);
    top: 0;
    left: 0;
    z-index: -1;
}
.image-coloumn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 251px 0px;
    position: relative;
    
}
h2{
    font-size: 42px;
    letter-spacing: 2px;
    color: #99EFD0;
    margin-bottom: 32px;
}
h2 .colorized{
    color: #F2994A;
}
.image-coloumn h5{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #8476AA;
    margin-bottom: 43px;
}
.image-coloumn__button{
    background-color: #F2994A;
    width: 155px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    box-shadow: -12px 12px 25px #f2984aa2;
    cursor: pointer;
}
.benchmark{
    display: flex;
    flex-direction: column;
    margin: 195px 175px 0px;
}
.benchmark h2{
    font-size: 36px;
    letter-spacing: 2px;
    color: #99EFD0;
    margin-bottom: 32px;
    text-align: center; 
}
.benchmark h5{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #8476AA;
    margin-bottom: 43px;
    text-align: center;
}
.benchmark h2 .colorized{
    color: #F2994A;
}
.benchmark__coloumn{
    display: flex;
    justify-content: space-between;
    justify-self: center;
}
.benchmark__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 291px;
}
.benchmark__items h2{
    margin-bottom: 16px;
}
.demonstration{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    position: relative;
    background-image: url('../res/sphere.png');
    background-position: bottom;
    background-repeat: no-repeat;
}
.demonstration h2{
    max-width: 900px;
    text-align: center;
    margin-bottom: 46px;
}
.demonstration__button{
    background-color: #F2994A;
    width: 155px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    box-shadow: -12px 12px 25px #f2984aa2;
    margin-bottom: 390px;
    cursor: pointer;
}
.image-coloumn__map-background{
    width: 670px;
    height: 470px;
    position: absolute;
    background-image: url('../res/mpa.png');
    top:170px;
    left: 700px;
    z-index: 2;
}
.second-coloumn{
    position: relative;
    overflow: hidden;
    padding-bottom: 200px;
}
.image-coloumn_reverse{
    display: flex;
    justify-content: center;
    margin-left: 170px;
    margin-right: 160px;
}
.image-coloumn_reverse h3{
    font-size: 26px;
    color: #99EFD0;
    margin-bottom: 32px;
}
.image-coloumn_reverse h5{
    font-size: 15px;
    color: #8476AA;
    font-weight: 400;
    margin-bottom: 48px;
}

.image-coloumn_reverse__double-grid{
    display: flex;
    font-family: 'Inter', sans-serif;
}
.image-coloumn_reverse__image{
    margin-right: 85px;
}
.image-coloumn_reverse__grid-item{
    width: 224px;
}
.image-coloumn_reverse__grid-item:first-child{
    margin-right: 64px;
}
.image-coloumn_reverse__grid-item-header{
    font-family: 'Inter', sans-serif;
    color: #99EFD0;
    font-size: 26px;
    margin-bottom: 8px;
    margin-top: 16px;
}
.image-coloumn_reverse__item-article{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #8476AA;
    letter-spacing: 0.2px;
}
.subscribe__form-header{
    font-size: 36px;
    color: #F2994A;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.subscribe{
    display: flex;
    justify-content: center;
    margin-top: 196px;
    background-image: url('../res/background.png');
}
.subscribe__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 27, 82);
    width: 940px;
    height: 324px;
    justify-content: center;
    border-radius: 5px;
}
.subscribe__description{
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #95A1BB;
    margin-bottom: 23px;
    max-width: 396px;
    text-align: center;
}
.subscribe__input-and-button{
    display: flex;
    width: 416px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 13px;
    cursor: pointer;
}
.subscribe__input{
    width: 288px;
    height: 56px;
    border: none;
    background-color: #97979725;
    color: white;   
    display: flex;
    justify-content: end;
}
.subscribe__input input{
    width: 212px;
    height: 56px;
    border: none;
    background-color: rgba(44, 45, 92);
    color: white;
    margin-right: 38px;    
}
.subscribe__input input:focus{
   outline: none;
    
}
.subscribe__button{
    width: 128px;
    background-color: #F2994A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    cursor: pointer;
}
footer{
    background-image: url('../res/back/buble.png');
}

.footer__header{
    display: flex;
    justify-content: space-between;
    margin: 185px 200px 94px;

}
.footer__header h3{
    color:#F2994A;
    font-size: 26px;
    font-weight: 700;
}
.footer__social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__social-media img{
    margin-right: 16px;
}
.footer__nav{
    display: flex;
    justify-content: space-around;
}
.footer__nav-element{
    font-size: 15px;
    margin-bottom: 16px;
    font-weight: 400;
}
